*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --dairy: #fcfcfc;
  font-family: Roboto, Ralevay;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  font-size: 16px;
  font-style: normal;
}
/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  outline: 4px solid teal;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
.page-header {
  border-bottom: 1px solid var(--cornflower);
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
  display: flex;
}
.link:hover,
.link:focus {
  color: var(--ocean);
}
.link {
  text-decoration: none;
}

.logo-link {
  margin-right: 76px;
  font-weight: 500;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-span {
  color: var(--navy-blue);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
.nav-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
}
/* adress */
.contact {
  font-style: normal;
}
.list {
  text-decoration: none;
}
.list-contact {
  display: flex;
  gap: 40px;
}
.link-contact {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--ocean);
}
/* Section Hero */

.section-hero {
  background-color: var(--navy-blue);
}
.hero-container {
  padding: 188px 0px;
  display: block;
  align-content: center;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 496px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  display: block;
  letter-spacing: 0.02em;
  color: var(--white);
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  height: 56px;
  border: none;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}
/* Section Text */
.section-text {
}
.text-container {
  gap: 24px;
}
.caption {
}
.text-list {
  padding: 120px 0;
  margin-right: 156px;
  width: 1128px;
}
.list {
  display: flex;
  gap: 24px;
}
.text-item {
  width: calc((100%-3 * 24px) / 4);
}
.text-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* section galery */

.section-galery {
}
.galery-container {
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 0;
  background-color: tomato;
}
.galery-caption {
  margin-bottom: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.list-galery {
  display: flex;
  gap: 24px;
  text-align: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.list {
}

.galery-item {
  width: calc((100% - 2 * 24px) / 3);
}
/* section team */
.section-team {
  background-color: var(--cloud);
}
.team-container {
  margin-top: 120px;
}

.team-caption {
  padding-top: 120px;
  padding-bottom: 72px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.list-team {
  background-color: var(--white);
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.list {
  list-style: none;
}
.item-team {
  background-color: var(--white);
  width: calc((100% - 3 * 24px) / 4);
}
.card-container {
  padding: 32px 16px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  width: 264px;
  left: 444px;
  top: 1780px;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
}

/* portfolio */
.portfolio {
}
.list-portfolio {
}
.list {
  list-style: none;
}
.btn-filter {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--white);
  background-color: var(--ocean);
}
.list-portfolio-galery {
}
.list {
  list-style: none;
}
.link-portfolio {
}
.link {
  text-decoration: none;
}
.caption-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* footer */
.page-footer {
  background-color: var(--navy-blue);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.text-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
